extends base_email

block content
    p Hi #{firstname},
        p Forgot your password? No problem, simply reset it at #{url}.
        p (Website for  this action not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') reset your password
        p If you did not initiate this process, please ignore this email!